# Compiled class files
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restoreBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Project specific
bin/
.me/Study_Demo/
JDK_ENV_INFO
release/

# IDE - VSCode
.vscode/
*.code-workspace

# IDE - IntelliJ
.idea/
*.iml

# IDE - Trae
.trae/

jdb-mcp-core/pom.xml
jdb-mcp-jdk8/pom.xml
